*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    height: auto;
    display: block;
}
main
{
    display: block;
}
header
{
    background-color: midnightblue;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
   
}
.container
{
    
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    align-items: center;
    text-align: end;
   
}
.cat
{
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 25px;
   
}
.navigation ul
{
    list-style: none;
    margin: 0;
}
.navigation ul li
{
    display: inline-block;
}
.navigation ul li a
{
    display: block;
    padding: 0.5em;
    transition: all .2s linear;
    border-radius: 5px;
    
}
.navigation ul li a:hover
{
    background: rgb(0, 0, 176);
}
* {
    margin: 0;
    padding: 0;
    font-family: lato;
}
.info
{
    text-align: justify;
    padding-left: 250px;
    padding-right: 250px;
    line-height: 2.0em;
    font-size: 20px;
}
h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 150px;
    padding-bottom: 50px;
}

.slider-frame {
	width: 1280px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 7s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 700px;
    height: 500px;
    
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.imagen{
    padding-left: 300px;
    padding-right: 200px;
}