*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    height: auto;
    display: block;
}
main
{
    display: block;
}
header
{
    background-color: midnightblue;
    padding: 1.1rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
   
   
}
.container
{
    
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    align-items: center;
    text-align: end;
   
}
.cat
{
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 25px;
    
   
}
.navigation ul
{
    list-style: none;
    margin: 0;
}
.navigation ul li
{
    display: inline-block;
}
.navigation ul li a
{
    display: block;
    padding: 0.5em;
    transition: all .2s linear;
    border-radius: 5px;
    
}
.navigation ul li a:hover
{
    background: rgb(0, 0, 176);
}
.titulo
{
    color: rgb(255, 255, 255);
    padding-top: 150px;
    padding-left: 50PX;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1
{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    line-height: 1.5;
    padding-top: 80px;
    align-items: center;
    
   
}

.img1
{

    padding-top: 40px;
    width: 85%;
    max-width: 850px;
    
    
    
}
.img2
{
    padding-left: 100px;
    padding-top: 40px;
    width: 85%;
    max-width: 850px;
}
.img3
{
    padding-top: 46px;
    padding-left: 100px;
    width: 85%;
    max-width: 850px;
}

.sec1{
    display: flex;
    width: 85%;
    max-width: 850px;
    padding-left: 250px;
    
   
}
.sec2
{
    display: flex;
    width: 85%;
    max-width: 850px;
    padding-left: 250px;
    
}
.sec3
{
    display: flex;
    width: 85%;
    max-width: 850px;
    padding-left: 250px;
    padding-bottom: 150px;
    
}
footer
{
    
  background: rgb(54, 54, 103);
  font-size: 15px;
  padding: 4em;
  color: white;
  text-align: center;
  display: block;
  position: static;
  width: 100%;
  bottom: 0;
  left: 0;
  
}

.addproducto{

display: flex;
padding-left: 400px;

}


