.texto{ 
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 100px;
    background-color: rgb(48, 137, 221);
    width: 1000px;
    height: 600px;
}
span{
    float: right;
    }
label{
    width: 100px;
    float: left;
}
input{
    margin-bottom:15px ;
    margin-top: 4px;
    width: 365px;
}
select{
    margin-right: 12px;
    margin-bottom:10px ;
    margin-top: 10px;

}
.largos{
    width: 365px;
}
.date {
    width: 110px;

}
aside {
    background-color: rgb(48, 137, 221);
    height: 500px;
    width: 400px;
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:50px;
    margin-right: 50px;
    text-align: left;
}
.aside1{
    background-color: rgb(48, 137, 221) ;
    height: 500px;
    width: 400px;
    text-align: right;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:40px;
    margin-right: 30px;
}

